h3 {
  font-size: nth($font , 4);
  @include espacio(10px,20px);
}
form {
  background-color: $color-secundario;
  border-radius: 5px;
  color: nth($color, 1);
  font-size: nth($font , 1);
  @include espacio(10px,20px);
  width: 400px;
  p {
    margin: 5px;
  }
}

input,
textarea {
  border: 0;
  outline: none;
  width: 100%;
}

.field {
  border: solid 1px #dfdfb5;
  padding: 10px;
}

.field:focus {
  border-color: #272928;
}

.center-content {
  width: 40%;
  padding: 5px;
}

.datos-personales {
  background-color: nth($color, 4);
  display: grid;
  justify-content: center;
  a img{
    @include img (300px,300px);
  margin: 10px;
}
  h1{
font-size: nth($font , 4);
text-align: center;
}
}
.video-contenedor iframe {
  @include espacio(10px,10px);
}

@media screen and (max-width: 440px) {
  form {
    font-size: nth($font , 1);
    @include espacio(10px,20px);
    width: 300px;
}
.center-content {
  width: 50%;
  padding: 5px;
}
.datos-personales {
  a img{
    @include img(200px,200px);
}}
.datos-personales h1 {
font-size: nth($font , 2);
}
.video-contenedor iframe {
  @include video (300px,200px);
}
}
