.club {
  @include flex(flex, center, center);
  flex-direction: column;
  h2 {
    text-align: center;
  }
  img {
    height: 300px;
    width: 300px;
    padding: 10px;
  }
  p {
    text-align: center;
    margin: 10px;
  }
}
.mapa-ubicacion {
  align-items: center;
}


