.club {
  @include flex(flex, center, center);
  flex-direction: column;
  h2 {
    text-align: center;
  }
  img {
    @include img (300px,300px);
    padding: 10px;
  }
  p {
    text-align: center;
    margin: 10px;
  }
}
.mapa-ubicacion {
  align-items: center;
}

