h1 {
  font-size: nth($font , 5);
  text-align: center;
  padding: 10px;
}
h2 {
  font-size: nth($font , 4);
  padding: 10px;
}

.pileta {
  @include flex (flex,center,center);
  img {
    width: 600px;
    height: 300px;
    margin: 10px;
  }
}
  p{
    font-size: nth($font , 2);
    margin: 10px;
  }


.ficha-medica {
  background-color: nth($color, 4);

  @include flex (flex,center,center);

  a img {
    height: 200px;
    width: 200px;
  }
  h1 {
    font-size:nth($font , 3);
    color: nth($color, 1);
    text-align: center;
  }
}
  .mapa-ubicacion h2 {
    color: nth($color, 1);
    font-size: nth($font , 2);
    text-align: center;
  }

  @media screen and (max-width: 1058px) {
    .pileta img {
      width: 400px;
      height: 200px;
      margin: 10px;
    }
  }
  @media screen and (max-width: 707px) {
    .pileta img {
      width: 300px;
      height: 200px;
      margin: 5px;
    }
  }
  @media screen and (max-width: 614px) {
    .pileta img {
      width: 250px;
      height: 200px;
      margin: 5px;
    }


  }
  @media screen and (max-width: 526px) {
    h1{
      font-size: nth($font , 4);
    }
    h2{
      font-size: nth($font , 1);
    }
    p{
      font-size: nth($font , 1);
    }
    .ficha-medica a img {
    height: 100px;
    width: 100px;
    }
    .ficha-medica h1{
      font-size: nth($font , 1);
    }
  }
  @media screen and (max-width: 510px) {
    .pileta img {
      width: 200px;
      height: 100px;
      margin: 2px;
    }

  }
    
  @media screen and (max-width: 417px) {
    .pileta img {
      width: 150px;
      height: 100px;
      margin: 5px;
  }
  h1{
    font-size: nth($font , 2);
  }
  }