h1 {
  font-size: 35px;
  text-align: center;
  padding: 10px;
}
h2 {
  font-size: 30px;
  padding: 10px;
}

.pileta {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 600px;
    height: 300px;
    margin: 10px;
  }
}
  p{
    font-size: 20px;
    margin: 10px;
  }


.ficha-medica {
  background-color: rgba(240, 152, 20, 0.312);
  display: flex;
  justify-content: center;
  align-items: center;

  a img {
    height: 200px;
    width: 200px;
  }
  h1 {
    font-size: 25px;
    color: rgb(10, 10, 10);
    text-align: center;
  }
}
  .mapa-ubicacion h2 {
    color: rgb(12, 12, 12);
    font-size: 20px;
    text-align: center;
  }

  @media screen and (max-width: 1058px) {
    .pileta img {
      width: 400px;
      height: 200px;
      margin: 10px;
    }
  }
  @media screen and (max-width: 707px) {
    .pileta img {
      width: 300px;
      height: 200px;
      margin: 5px;
    }
  }
  @media screen and (max-width: 614px) {
    .pileta img {
      width: 250px;
      height: 200px;
      margin: 5px;
    }


  }
  @media screen and (max-width: 526px) {
    h1{
      font-size: 30px;
    }
    h2{
      font-size: 15px;
    }
    p{
      font-size: 15px;
    }
    .ficha-medica a img {
    height: 100px;
    width: 100px;
    }
    .ficha-medica h1{
      font-size: 15px;
    }
  }
  @media screen and (max-width: 510px) {
    .pileta img {
      width: 200px;
      height: 100px;
      margin: 2px;
    }

  }
    
  @media screen and (max-width: 417px) {
    .pileta img {
      width: 150px;
      height: 100px;
      margin: 5px;
  }
  h1{
    font-size: 20px;
  }
  }