
h2{
  font-size: 30px;
  text-align: center;
  padding: 10px;
}
  p{
    font-size: 20px;
    text-align: center;
    font-family: cursive;
  }

footer {
    background-color: rgb(204, 199, 93);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  
    h1{
      color: rgb(18, 18, 18);
      font-size: 30px;
    }
    .redes a img {
      width: 50px;
      height: 50px;
    }
    .mapa-ubicacion h2 {
      color: rgb(12, 12, 12);
      font-size: 20px;
      text-align: center;
    }
  }