//* variables


$color-principal:goldenrod;
$color-secundario: rgba(208, 80, 60, 0.707);
$color-terciario:#ddf00b;
$color-cuarto:rgb(230, 207, 62);

//* listas
$font: 15px, 20px, 25px, 30px, 35px, 100px, 12px, 10px, 60px, 40px; 
$color:black,#aeba2767, white,rgba(240, 152, 20, 0.312);


//* mixin

@mixin flex($flex, $justify, $align) {
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}