/*--colocamos cosas importantes en esta carpeta-clases del boostrap-*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*-----RESET MARGENES PAGINA-----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

/*color nav*/

.menu-color {
  background-color: goldenrod;
}

/*--header--*/

.d-flex {
  background-color: goldenrod;
  margin: 10px;
  width: 250px;
}


/* sector whatsapp*/

.whatsapp a img {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 63px;
  bottom: 25px;
  right: 25px;
  text-align: center;
  font-size: 35px;
}

footer {
  background-color: rgb(204, 199, 93);
  display: flex;
  justify-content: space-around;
  align-items: center;

  h1 {
    color: rgb(18, 18, 18);
    font-size: 20px;
  }
  .redes a img {
    width: 50px;
    height: 50px;
  }
  .mapa-ubicacion {
    padding: 10px;
  }
}