/* media quaris*/

@media screen and (max-width: 1080px) {
  .nosotros p {
    font-size:nth($font , 7);
  }

  .nosotros img {
    width: 300px;
    height: 150px;
  }

  .promocion h2 {
    font-size: nth($font , 3);
  }

  .promocion p {
    font-size: nth($font , 2);
  }

  .promocion img {
    width: 200px;
    height: 300px;
  }
}

@media screen and (max-width: 933px) {
  .img-5 {
    grid-column: span 2;
  }

  .img-6 {
    grid-column: span 2;
  }

  .img-7 {
    grid-row: span 2;
  }
}

@media screen and (max-width: 925px) {
  .novedades p {
    font-size: nth($font , 8);
    text-align: center;
  }
}

@media screen and (max-width: 879px) {
  .hero h1 {
    font-size: nth($font , 9);
  }
  .promocion{
    height: 250px;
  }
  .promocion p{
    font-size: nth($font , 8);
  }
  .promocion img {
    height: 150px;
  }
}

@media screen and (max-width: 800px) {
  .nosotros {
    font-size: nth($font , 4);
  }

  .hero {
    width: 100%;
    height: 300px;
  }
}



@media screen and (max-width: 668px) {
  .nosotros h2 {
    text-align: center;
    text-wrap: wrap;
  }

  .nosotros img {
    display: none;
  }

  .nosotros p {
    font-size: nth($font , 8);
  }

  .promocion p {
    font-size: nth($font , 8);
  }

  .hero {
    width: 100%;
    height: 200px;
  }

  .grid-imagenes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 621px) {
.promocion{
  font-size: nth($font , 2);
  margin: 5px;
}
.promocion img{
  width: 90px;
}
.promocion a{
  font-size: nth($font , 8);
  bottom: 20px;
  border-radius: 10px;
}
}

@media screen and (max-width: 572px) {
  .mapa-ubicacion {
    display: none;
  }
}

@media screen and (max-width: 565px) {
  .video-contenedor iframe {
    width: 400px;
    height: 200px;
  }
  
  .grid-imagenes h3{
    font-size: nth($font , 2);
  }
  .hero {
    width: 100%;
    height: 300px;
    background-image: url("../img/foto\ grupal.JPG");
    background-attachment: scroll;
  }
}

@media screen and (max-width: 552px) {
  .hero h1 {
    font-size: nth($font , 10);
  }

  .novedades h2 {
    font-size: nth($font , 1);
  }

  .grid-imagenes {
    display: grid;
    grid-column: auto;
  }
  .promocion p{
    display: none;
  }
}

@media screen and (max-width: 497px) {
  .promocion h3 {
    font-size: nth($font , 8);
  }

  .promocion img {
    margin: 20px;
  }

  .grid-imagenes {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-auto-rows: 100px;
    padding: 5px;
    grid-gap: 5px;
  }
  .grid-imagenes h3 {
    font-size: nth($font , 1);
  }
    .img-7 {
    grid-column: span 1;
  }
    .img-8 {
    grid-column: span 1;
  }
  

}

@media screen and (max-width: 480px) {
  .novedades p {
    font-size: nth($font , 8);
  }
  .promocion {
    height: 250px;
  }
  .promocion p {
    font-size: nth($font , 8);
  }
  .promocion img {
    width: 200px;
    height: 200px;
  }
  .promocion a{
    font-size: nth($font , 1);
  }
}

@media screen and (max-width: 460px) {
  .img-7 {
    grid-row: 3 4;
  }

  .img-8 {
    grid-column: span 1;
  }
  .promocion h2{
  font-size: nth($font , 2);
  }
  .promocion a{
    font-size: nth($font , 8);
  }
  .promocion img{
    width: 150px;
  }
}
@media screen and (max-width: 420px) {
  .promocion h2{
  font-size: nth($font , 1);
  }

}


@media screen and (max-width: 410px) {
  .promocion h2 {
   font-size: nth($font , 8);
  }
  .promocion p {
    font-size: nth($font , 8);
  }
}
@media screen and (max-width: 406px) {
  .video-contenedor iframe {
    width: 300px;
    height: 100px;
  }
}
  
  @media screen and (max-width: 385px) {
    .promocion a{
      font-size: 8px;
    }
}

@media screen and (max-width: 372px) {
  .promocion h2{
  font-size: nth($font , 8);
}
.promocion a {
  font-size:5px ;
}
.promocion img {
  width: 150px;
}
}
@media screen and (max-width: 354px) {
  .promocion a{
    font-size: 8px;
  }
  .promocion img {
    width: 100px;
  }
}

